.gif {
	margin: 10px;
	width: 200px;
	height: 200px;
	border: gray solid 1px;
}
body {
	background-image: url("http://cdn.wallpapersafari.com/99/19/OeHrJR.jpg")

}
button {
	color: #fff;
	background-color: #00aba0;
	font-size: 16px;
	border-radius: 25px;
}

#add-show{
	color: #fff;
	background-color: #00aba0;
	font-size: 16px;

}

#button-form {
	color: #fff;
	font-size: 16px;
}

h1 {
	color: #fff;
}

#tv-view {
	color: #039be5;
	font-weight: bold;
	font-size: 16px;
}

